<div class="test-output__background">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda incidunt
  fuga et maiores officia ut adipisci dolorem facere dignissimos nemo! Possimus
  doloremque eius vero deleniti vitae. Quae harum nulla qui? Beatae adipisci
  vero quas incidunt nihil error inventore veritatis fugit aut quos nostrum
  voluptatibus nam, distinctio quasi illo id optio voluptates officiis ducimus
  iusto! Temporibus dolore voluptatum quaerat in repellendus!
</div>
<button (click)="themeService.switchToLightTheme()">light</button>
<button (click)="themeService.switchToDarkTheme()">dark</button>
