<router-outlet></router-outlet>
<!-- <div class="grid">
  <div class="col-12 md:col-6 lg:col-3">
    <input type="text" pInputText class="w-full" />
  </div>
  <div class="col-12 md:col-6 lg:col-3">
    <input class="w-full" type="text" pInputText />
  </div>
  <div class="col-12 md:col-6 lg:col-3">
    <input class="w-full" type="text" pInputText />
  </div>
  <div class="col-12 md:col-6 lg:col-3">
    <input class="w-full" type="text" pInputText />
  </div>
  <div class="col-12 md:col-6 lg:col-3">
    {{ hero$ | async | json }}
  </div>
</div> -->
