<div class="grid">
  <div class="col-12 md:col-6 lg:col-3">
    <div class="p-field p-fluid">
      <label for="email">Email</label>
      <input
        type="text"
        [formControl]="emailForm"
        pInputText
        class="w-full"
        placeholder="email@org.xx"
      />
      <small
        id="email-help"
        class="p-error"
        *ngIf="
          emailForm.hasError('required') &&
          emailForm.invalid &&
          emailForm.touched
        "
        >Email is not available.</small
      >
      <small
        id="email-help"
        class="p-error"
        *ngIf="
          emailForm.hasError('email') && emailForm.invalid && emailForm.touched
        "
        >WTF email syntax</small
      >
    </div>
  </div>
  <div class="col-12">
    <p-button [disabled]="emailForm.invalid" label="submit"></p-button>
  </div>
</div>
{{ emailForm.errors | json }}
