<div class="grid">
  <div class="col-12">
    <div
      class="
        align-items-center
        col-12
        flex
        justify-content-between
        lg:col-12
        md:col-12
        product-header
      "
    >
      <div>
        <p-button
          class="mr-3"
          label="Add Product"
          styleClass="p-button-success p-ripple "
          icon="pi pi-plus"
          (onClick)="addProduct()"
          iconPos="right"
        ></p-button>
        <span class="input-search pi pi-search">
          <input
            type="text"
            [(ngModel)]="filterProductName"
            pInputText
            placeholder="filter Product"
          />
        </span>
      </div>
      <span> Product List </span>
      <div></div>
    </div>
    <div
      class="col-12"
      *ngFor="
        let productGroup of productFormArray.controls
          | filterByProductName
            : filterProductName
            : productFormArray.controls.length;
        let i = index
      "
    >
      <app-product
        [useFormGroup]="productGroup"
        (onPriceChange)="recalculateSummary()"
        (onQualityChange)="recalculateSummary()"
        (onDiscountChange)="recalculateSummary()"
        (onClickRemove)="remove(productGroup); recalculateSummary()"
        disabledRemove="true"
      >
      </app-product>
    </div>
    <div class="col-12">
      <div class="col-12 lg:col-12 md:col-12 product-header">Summary</div>
      <div class="col-12">
        <label>
          total
          <input
            readonly
            type="text"
            pInputText
            placeholder="total"
            [(ngModel)]="total"
          />
        </label>
      </div>
      <div class="col-12">
        <label>
          discount
          <input
            readonly
            type="text"
            pInputText
            placeholder="discount"
            [(ngModel)]="totalDiscount"
          />
        </label>
      </div>
      <div class="col-12">
        <label>
          total pay
          <input
            readonly
            type="text"
            pInputText
            placeholder="pay"
            [(ngModel)]="pay"
          />
        </label>
      </div>
      <div class="col-12">
        Tax Addition 7%
        <p-radioButton
          [(ngModel)]="tax"
          (ngModelChange)="calculateTax()"
          name="tax_group"
          [value]="0"
          label="No"
        ></p-radioButton>
        <p-radioButton
          [(ngModel)]="tax"
          (ngModelChange)="calculateTax()"
          name="tax_group"
          [value]="0.07"
          label="Yes"
        ></p-radioButton>
      </div>
      <div class="col-12">final total: {{ finalTotal }}</div>
      <div class="col-12">
        <p-button label="Confirm"></p-button>
      </div>
    </div>
  </div>
</div>
