<div class="grid" [formGroup]="useFormGroup">
  <div class="col-12 md:col-12 lg:col-12 xl:col-5 flex">
    <p-autoComplete
      [formControlName]="Product.productKeyName"
      class="w-full mr-3"
      styleClass="w-full"
      inputStyleClass="w-full"
      [dropdown]="true"
      placeholder="select Product"
      appHttpProductsAutoComplete
    ></p-autoComplete>
    <app-more-detail
      header="Product Detail"
      [formControlName]="Product.detailKeyName"
    ></app-more-detail>
  </div>
  <div class="col-12 md:col-12 lg:col-12 xl:col-1">
    <input
      type="number"
      min="0"
      [formControlName]="Product.qualityKeyName"
      class="w-full"
      pInputText
      placeholder="quality"
    />
  </div>
  <div class="col-12 md:col-12 lg:col-12 xl:col-1">
    <p-dropdown
      styleClass="w-full"
      [options]="unitOption"
      [formControlName]="Product.unitKeyName"
    ></p-dropdown>
  </div>
  <div class="col-12 md:col-12 lg:col-12 xl:col-2">
    <input
      type="number"
      step="10"
      min="0"
      [formControlName]="Product.priceKeyName"
      class="w-full"
      pInputText
      placeholder="price"
    />
  </div>
  <div class="col-12 md:col-12 lg:col-12 xl:col-2">
    <p-dropdown
      placeholder="discount"
      styleClass="w-full"
      [formControlName]="Product.discountKeyName"
      [options]="discountOption"
    ></p-dropdown>
  </div>
  <div class="col-12 md:col-12 lg:col-1">
    <p-button
      class="product-remove-button"
      type="button"
      [disabled]="disabledRemove"
      icon="pi pi-trash"
      (onClick)="remove($event)"
      iconPos="right"
      label="Remove"
      styleClass="p-button-danger w-full"
    ></p-button>
  </div>
</div>
