.card {
  border-radius: 16px;
  box-shadow: 0 2px 4px 0 rgba(188, 204, 214, 0.4);
  background-color: #fff;
  padding: 16px;

  &--no-padding {
    @extend .card;
    padding: 0px;
  }

  &--no-padding-bottom {
    @extend .card;
    padding-bottom: 0px;
  }
}
