/* You can add global styles to this file, and also import other style files */
:root {
  body * {
    line-height: 2em;
  }
  .product-header {
    // background-color: cornflowerblue;
    text-align: center;
    font-size: 24px;
    // color: white;
    background-color: aliceblue;
  }
}
