/* You can add global styles to this file, and also import other style files */
:root {
  body * {
    line-height: 2em;
  }
  .product-header {
    // background-color: cornflowerblue;
    text-align: center;
    font-size: 24px;
    // color: white;
    background-color: aliceblue;
  }

  .input-search {
    position: relative;
    > input {
      appearance: none;
      padding: 4px 4px 4px 29px;

      -webkit-appearance: none;
      -moz-appearance: none;
    }
  }

  .pi-search:before {
    position: absolute;
    top: 5px;
    left: 10px;
    color: darkgray;
  }
}
